@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.companies-scroll {
  animation: scroll 40s linear infinite;
}

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --muted: 0 0% 15%;
    --border: 0 0% 20%;
    --radius: 0.5rem;
  }
}

@keyframes star-movement-top {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes star-movement-bottom {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-star-movement-top {
  animation: star-movement-top 6s linear infinite;
}

.animate-star-movement-bottom {
  animation: star-movement-bottom 6s linear infinite;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-background text-foreground;
}
